---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Wylogowanie">
  <div class="max-w-md mx-auto my-10 text-center space-y-4">
    <p>Wylogowuję...</p>
  </div>

  <script type="module">
    import { getSupabaseBrowser } from '../../lib/auth/browserClient';
    (async () => {
      try {
        const supabase = getSupabaseBrowser();
        if (supabase) {
          await supabase.auth.signOut();
        }
      } finally {
        window.location.assign('/');
      }
    })();
  </script>
</Layout>


