---
import Layout from "../../layouts/Layout.astro";
import { LogoutClient } from "../../components/auth/LogoutClient";
---

<Layout title="Wylogowanie">
  <div class="max-w-md mx-auto my-10 text-center space-y-4">
    <LogoutClient client:load />
  </div>
</Layout>
